
  .purchase-container {
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.purchase-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.purchase-details {
    flex: 1;
}

.product-container {
    display: flex;
    margin-bottom: 10px;
    border-bottom: 1px solid #ced4da;
    padding-bottom: 10px;
}

.product-container:last-child {
    border-bottom: none;
}

.product-info {
    flex: 1;
    margin-left: 10px;
}

.purchase-container .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 300px; /* Độ rộng tối đa của div wrapper */
  min-width: 300px;
  margin: 0 auto;
  border-radius: 5px;
  
}

.purchase-container .image-container {
  max-width: 100%; /* Ảnh sẽ không vượt quá chiều rộng của image-container */
  max-height: 100%; /* Ảnh sẽ không vượt quá chiều cao của image-container */
  width: 300px; /* Chiều rộng của ảnh tự động điều chỉnh để giữ tỷ lệ khung hình */
  height: auto; /* Chiều cao của ảnh tự động điều chỉnh để giữ tỷ lệ khung hình */
  border-radius: 5px; /* Đường cong góc ảnh (tuỳ chọn) */
}

.purchase-container .image-container img {
  width: fit-content;
}

.purchase-container h2 {
    color: #343a40;
}

.purchase-container h4 {
    margin-bottom: 0;
    color: #343a40;
}

.purchase-container span {
    color: #6c757d;
}

.purchase-container p {
    margin-bottom: 5px;
}

.purchase-container h3 {
    margin-bottom: 5px;
    color: #007bff;
}
